@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');

body {
    text-align: center;
    font-family: 'Poppins';
}

.container {
    width: 500px;
    height: 650px;
    border: 2px solid black;
    background: #a5abaf;
   align-self: center;
}

p {
    font-weight: 700;
}

input{
    width:400px;
    height: 25px;
    border-radius: 5px;
}

button{
    border-radius: 5px;
    padding: 5px, 8px;
    height: 25px;
}

ul{
    list-style: circle inside;
    text-align: left;
    margin: 0px;
    padding:0px;

}

ul li{
    margin:5px;
    background-color: #e3e9c2;
    padding: 5px;
    border-radius: 5px;
    color:black;
}